html, body {
    height: 100%;
}

.body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #ffffff;
}

.authorization {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.authorization-form {
    height: 270px;
    width: 300px;
    background: #000000;
    border-radius: 30px;
    border: 3px solid #f8e401;
}

.authorization-form__logo {
    text-align: center;
    margin-top: -20%;
}

.authorization-form img {
    width: 100px;
    height: 100px;
}

.authorization-form h2 {
    color: #ffffff;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 10%;
}

.authorization-form__input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border: none;
    padding: 10px;
    font-size: 16px;
    outline: none;
    border-radius: 20px;
    margin-bottom: 15px;
}

.authorization-form__submit-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6%;
    font-size: 16px;
    border-radius: 10px;
    background-color: white;
    border: none;
    padding: 4px;
    color: black;
    width: 80px;
}

.authorization-form__submit-button:hover {
    background: lightyellow;
}