html, body {
    height: 100%;
}

.body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #ffffff;
}

.authorization {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.authorization-form {
    height: 250px;
    width: 300px;
    background: #000000;
    border-radius: 30px;
}

/*Изображение иконки авторизации*/
.authorization-form__logo {
    text-align: center;
    margin-top: -33%;
}

.authorization-form img {
    width: 150px;
    height: 150px;
}

.authorization-form h2 {
    color: #ffffff;
    text-align: center;
    margin-top: -6%;
    margin-bottom: 10%;
}

.authorization-form__input input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border: none;
    padding: 10px;
    font-size: 16px;
    color: #ffffff;
    outline: none;
    background: transparent;
    text-align: center;
    border-bottom: 1px solid #fff;
}

.authorization-form__submit-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6%;
    font-size: 16px;
    border-radius: 10px;
    background-color: white;
    border: none;
    padding: 4px;
    color: black;
    width: 80px;
}